{% extends "index.html" %} {% block content %}
<section class="product-news">
    <div class="product-title">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-xl-6 col-md-6 col-sm-6 col-6">
                    <div class="title">
                        <p class="bold">
                            <h5>TIN TỨC NỔI BẬT</h5>
                        </p>
                    </div>
                    <!-- ..............................22222222222222222   -->
                    <!-- <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{{url_for('static', filename='images/newwork.jpeg')}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block caption-title">
                              <h5>Hoạt động thi đua tái chế tạo vật dụng từ chai nhựa</h5>
                              <p>Các tỉnh Đoàn, chi Đoàn thành phố tuyên truyền thi đua, tham gia tổ chức hoạt động sử dụng chai nhựa để ....</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{{url_for('static', filename='images/new8.jpg')}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block caption-title">
                              <h5>Ngôi nhà "Plastic Bottle</h5>
                              <p>Một ngôi nhà được xây dựng từ chai nhựa đang là chủ đề mà cộng đồng mạng quan tâm ngay lúc này...</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{{url_for('static', filename='images/newwork.jpg')}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block caption-title">
                              <h5>Hoạt động thi đua tái chế tạo vật dụng từ chai nhựa</h5>
                              <p>Các tỉnh Đoàn, chi Đoàn thành phố tuyên truyền thi đua, tham gia tổ chức hoạt động sử dụng chai nhựa để ....</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div> -->
                      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{{url_for('static', filename='images/newwork.jpeg')}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>First slide label</h5>
                              <p>Some representative placeholder content for the first slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{{url_for('static', filename='images/newwork.jpeg')}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Second slide label</h5>
                              <p>Some representative placeholder content for the second slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{{url_for('static', filename='images/newwork.jpeg')}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Third slide label</h5>
                              <p>Some representative placeholder content for the third slide.</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    </div>
                <div class="col-xl-6 col-md-6 col-sm-6 col-6">
                    <div class="row">
                        <div class="title">
                            <p class="bold">
                                <h6>Tin Mỗi Ngày</h6>
                            </p>
                        </div>
                        <div class="row">
                            <ol class="col d-flex ul-info">
                                <li class="margin-size">
                                    <div class="item-news">
                                        <div class="card card-items">
                                            <div class="bor">
                                                <img src="{{url_for('static', filename='images/new7.jpg')}}" class="card-img-top" alt="...">
                                            </div>
                                            <div class="card-body" style="padding: 10px">
                                                <h6 class="card-title" style="color:#41AE41">Nghệ thuật từ các bàn tay của người tạo phẩm</h6>
                                                <p class="card-time">
                                                    <img src="">1 năm trước
                                                </p>
                                                <p class="card-text">Tạo nên đồ dùng mang hình họa đặc sắc góp phần thêm cảnh quan ...</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="margin-size">
                                    <div class="item-news">
                                        <div class="card card-items">
                                            <div class="bor">
                                                <img src="{{url_for('static', filename='images/new3.jpeg')}}" class="card-img-top" alt="...">
                                            </div>
                                            <div class="card-body" style="padding: 10px">
                                                <h6 class="card-title" style="color:#41AE41">Thõa sức sáng tạo đồ chơi cho trẻ cùng chai nhựa</h6>
                                                <p class="card-time">
                                                    <img src="">1 năm trước
                                                </p>
                                                <p class="card-text">Đồ chơi của trẻ nhỏ mang hình ảnh màu sắc sẽ phát triển tu duy...</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                            <ol class="col d-flex ul-info">
                                <li class="margin-size">
                                    <div class="item-news">
                                        <div class="card card-items">
                                            <div class="bor">
                                                <img src="{{url_for('static', filename='images/new1.jpg')}}" class="card-img-top" alt="...">
                                            </div>
                                            <div class="card-body" style="padding: 10px">
                                                <h6 class="card-title" style="color:#41AE41">Dụng cụ học tập "mới" dưới mái trường</h6>
                                                <p class="card-time">
                                                    <img src="">1 năm trước
                                                </p>
                                                <p class="card-text">Dụng cụ học tập được chế tạo từ chai nhựa giúp các em nhỏ tiếp cận...</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="margin-size">
                                    <div class="item-news">
                                        <div class="card card-items">
                                            <div class="bor">
                                                <img src="{{url_for('static', filename='images/new2.jpg')}}" class="card-img-top" alt="...">
                                            </div>
                                            <div class="card-body" style="padding: 10px">
                                                <h6 class="card-title" style="color:#41AE41">Trồng cây tạo mảnh vườn mini tại nhà</h6>
                                                <p class="card-time">
                                                    <img src="">1 năm trước
                                                </p>
                                                <p class="card-text">Tận dụng vỏ chai nhựa để tạo ra một "Trang Trại Nhỏ" tại nhà giúp ...</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="title">
                            <p class="bold">
                                <h6>Hoạt Động Cộng Đồng</h6>
                            </p>
                        </div>
                        <ol class="col-6 d-flex ul-info">
                            <li class="margin-size">

                                <div class="item-news">
                                    <div class="card card-items" >
                                        <div class="bor">
                                            <img src="{{url_for('static', filename='images/new5.jpg')}}" class="card-img-top" alt="...">
                                        </div>
                                        <div class="card-body" style="padding: 10px">
                                            <h6 class="card-title" style="color:#41AE41">Tặng quà cho những hoàn cảnh khó khăn</h6>
                                            <p class="card-time">
                                                <img src=""> 1 năm trước
                                            </p>
                                            <p class="card-text">Không chỉ là chai nhựa mà còn là niềm vui với những hoàn cảnh không may mắn...</p>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="margin-size">
                                <div class="item-news">
                                    <div class="card card-items" >
                                        <div class="bor">
                                            <img src="{{url_for('static', filename='images/new4.jpg')}}" class="card-img-top" alt="...">
                                        </div>
                                        <div class="card-body" style="padding: 10px">
                                            <h6 class="card-title" style="color:#41AE41">Cuộc thi tạo ra sự tiện nghi cho căn nhà thân yêu</h6>
                                            <p class="card-time">
                                                <img src="">1 năm trước
                                            </p>
                                            <p class="card-text">Để mang đến sự tiện nghi cho căn nhà của chúng ta thì chỉ cần một chút...</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}