{% extends "index.html" %} {% block content %}
<section class="product-news" style="padding-bottom:30px ;">
    <div class="product-title">
        <div class="container">
            <div class="row justify-content-around  ">
              <div class="news-content">
                <div class="col-xl-6 col-md-6 col-sm-6 col-6">
                    <div class="title">
                        <p class="bold">
                            <h5>TIN TỨC NỔI BẬT</h5>
                        </p>
                    </div>
                 
                      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="{{url_for('static', filename='images/newwork.jpeg')}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>First slide label</h5>
                              <p>Some representative placeholder content for the first slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{{url_for('static', filename='images/newwork.jpeg')}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Second slide label</h5>
                              <p>Some representative placeholder content for the second slide.</p>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <img src="{{url_for('static', filename='images/newwork.jpeg')}}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Third slide label</h5>
                              <p>Some representative placeholder content for the third slide.</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    </div>
                <div class="col-xl-6 col-md-6 col-sm-6 col-6 new-right" >                   
                       <div class="title">
                            <p class="bold">
                                <h6>Tin Mỗi Ngày</h6>
                            </p>
                        </div>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                          <div class="card h-100">
                            <img src="{{url_for('static', filename='images/new4.jpg')}}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Sản Phẩm Hot</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="tiding-information information-small">
                                <a href="#">Đọc tiếp </a>
                                <i class="fa-solid fa-angles-right"></i>
                            </div>
                            
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="{{url_for('static', filename='images/new4.jpg')}}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Sản Phẩn Chất Lượng</h5>
                              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            </div>
                            <div class="tiding-information information-small">
                                <a href="#">Đọc tiếp </a>
                                <i class="fa-solid fa-angles-right"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="{{url_for('static', filename='images/new4.jpg')}}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Sản Phẩm Số 1</h5>
                              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            </div>
                            <div class="tiding-information information-small">
                                <a href="#">Đọc tiếp </a>
                                <i class="fa-solid fa-angles-right"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                   
                </div>
              </div>
            </div>
        </div>
</section>
{% endblock %}