@media  (max-width:1366px) {
    .text-more p {
        font-size: 31px;
        margin-top: 31px !important;
    }

    .introduce #text {
        font-size: 33px;

    }

    .introduce p {
        font-size: 20px;
    }

    .tiding-information p {
        font-size: 21px t;

    }

    .tiding-information h3 {
        font-size: 25px t;

    }

    .tiding-information a {
        font-size: 25px;

    }
   
    .text-dark {
        font-size: 18px;
    }

    .footer-company,
    .footer-suppot {
        font-size: 20px;
    }

    ::placeholder {
        font-size: 18px;
    }
    /* store  */
    .drw-show {
       
       
        position: relative !important;
        display: flex !important;
       
        justify-content: center !important;
    }
}
@media (max-width:1170px) {
    .menu-btn a {
        padding: 13px 14px !important
    }
    .banner-house-text ul li a {
        
        font-size: 13px;
        
    }
    .products .product-info.col-3 {
        width: 32% !important;
    }
    .symbol-customer a img {
        width: 150px !important;
        height: 111px !important;
       
    }
    .text-more p {
        font-size: 28px !important;
       
    }
    .introduce #text {
        font-size: 30px !important;
    }
    .introduce p {
        font-size: 21px !important;
    }
    .text-dark {
        font-size: 16px !important;
    }
     /* store  */
     .drw-show {
       
       
        position: relative !important;
        display: flex !important;
       
        justify-content: center !important;
    }
}
@media (max-width:1024px) {
   
    .menu-btn a {
        padding: 13px 14px;
        font-size: 10px;
    }
    .product-info.col-3 {
        width: 32% !important;
    }
    .symbol-customer a img {
        width: 150px !important;
        
    }
    .text-dark {
        font-size: 14px !important;
    }
    .banner-house-text ul li a {
        
        font-size: 13px;
        
    }
    .text-more p {
        font-size: 28px !important;
        margin-top: 35px !important;
    }
    .introduce #text {
        font-size: 30px !important;
    }
    .introduce p {
        font-size: 18px !important ;
    }
    .status a img {
        width: 49px !important;
        height: 43px;
        padding-left: 10px ;
    }
    .status a { 
        font-size: 17px !important;  
    }
    .footer-company, .footer-suppot {
        font-size: 15px !important;
    }
    .product-title .news-content .col-6 {
        width: 100% !important;
    }
     /* store  */
     .drw-show {
       
       
        position: relative !important;
        display: flex !important;
       
        justify-content: center !important;
    }
}
@media (max-width: 768px) {
    .menu-mid {
        width: 100% !important;
    }

    .banner-house-text ul li a {
        font-size: 14px !important;

    }

    .banner-house-text ul {
        margin: 5px !important;
        padding: 0 !important;
    }

    .banner-house-text ul li {
        padding: 0 12px !important;
    }

    .banner-menu .col-4 {
        width: 33.3333% !important;
        align-items: center !important;

    }

    .banner-icon {
        display: flex !important;
        padding: 0 !important;
        margin: 0 !important;

    }

    .banner-icon i {
        font-size: 27px !important;
        padding: 0 10px !important;
        color: #ccc !important;
    }

    .banner-icons .col-2 {
        padding: 0 10px !important;
        width: 16.6% !important;
    }

    .banner-menu .menu-mid .col-6 {
        width: 66.66% !important;
    }

    .row {
        width: 100%;
        margin: 0;
    }

    .products .product-info.col-3 {
        width: 50% !important;
        margin: 0 !important;
        padding-bottom: 15px !important;
    }

    .bd-right {
        display: none !important;
    }

    .port {
        top: -14px !important;
        right: 335px !important;
    }

    .banner-shop,
    .banner-search {
        border: 0 !important;
        padding: 0px 10px !important;
    }

    .symbol-customer a img {
        width: 100% !important;
        height: auto !important;
        padding: 0 !important;
    }

    .symbol-customer a {
        width: 25% !important;
    }

    .symbol-customer {
        display: flex !important;
        width: 100% !important;
    }

    .partner-block .col-8 {
        width: 66.66666667% !important;
    }

    .text-more p {
        margin-top: 18px !important;
        font-size: 22px !important;

    }

    .introduce #text {
        
        font-size: 23px !important;
    }
    .introduce p {
        font-size: 17px !important;
        
    }

    .note {
        padding: 5px;
    }

    .btn-click {
        margin-top: 10px !important;
    }

    .form-group {
        padding: 5px !important;
    }

    .insert-infcustomer .col-6 {
        width: 50% !important;
    }
    .bg-primary>.container{
        justify-content: flex-start !important;
    }

    .insert-infcustomer .row, .products .row {
        width: 100%;
        margin: 0;
    }
    .menu-top .container .row .menu-left{
        width: 25% !important;
    }
    .menu-top .container .row .menu-right{
        width: 75% !important;
    }
    .menu-btn a{
        padding: 13px 19px !important;
    }

    .form-inf .input-inf input {
        margin: 0 !important;
    }

    .form-inf .input-inf {
        padding: 0 !important;
    }

    .text-more {
        width: 33.33% !important;
    }

    .content .col-3 {
        width: 25% !important;
    }
    .text-center{
        font-size: 15px !important;
    }
    .collapse:not(.show) {
        display:block !important;
    }
    #main_nav {
       
        position: absolute !important;
        right: 3rem !important;
    }
    #main_nav .ms-auto {
        flex-direction: row !important ;
    }
    #main_nav .ms-auto li a {
        margin-right: 5px !important;
    }
  
    .footer-company, .footer-suppot {
        padding-top: 15px !important;
       
    }
    .inf-company, .inf-support {
        font-size: 13px;
    }
    .text-dark {
        font-size: 13px !important;
    }
    
 
}
@media only screen and (max-width:480px) {
    .shop-container .col-4 {
        flex: 0 0 auto;
        width: 100% !important;
    }
    .products .product-info.col-3 {
        width: 100% !important;
    }

    .content .col-3 {
        width: 100% !important;
        padding-bottom: 10px;
    }

    .content-menu {
        padding: 0 10px !important;
        border-bottom: 2px solid #ccc;
    }

    .port {
        right: 155px !important;
    }

    .content-btn {

        font-size: 12px;

    }

    .product-company h1 {
        font-size: 20px;
    }

    .product-company b {
        font-size: 18px;
    }

    .product-introduce p {
        margin: 12px 0 35px 0 !important;
        font-size: 16px;

    }

    .product-introduce a {
        font-size: 20px;
        padding: 7px 2px 7px 2px !important;
    }

    .menu-top {
        display: none;
    }

    .banner {
        position: relative;
    }

    .menu-open {
        position: absolute;
        display: block;
        right: 5px;
        top: 0;
        z-index: 11;
    }

    .banner-menu {
        display: block;
        position: absolute;
        left: -100%;
        top: 0;
        width: 80%;
        height: 100vh;
        background: rgb(205, 235, 255);
        z-index: 111;
        transition: .6s all;
    }
    .active-menu{
        z-index: 111;
        /*text-overflow: ellipsis;*/
    }
    .active-menu .banner-menu{
        left: 0 !important;
        transition: .5s all;

    }

    .banner-menu .banner-house {
        display: block !important;
    }

    .banner-house-icon {
        padding: 0;
    }

    .banner-menu .banner-house ul {
        display: block !important;
    }

    .banner-house-text ul li a {
        color: #000;
        font-size: 16px !important;
    }

    .banner-house-icon {
        border: 0 !important;
        padding: 10px 0 0;
        text-align: left;
    }

    .banner-icons {
        display: none !important;
    }

    .banner-house-text ul li {
        padding: 10px 2px !important;
    }
    .close-menu{
        position: absolute;
        right: 0;
        top: 0;
        background: red;
        padding: 0 10px;
    }
    .close-menu h1{
        color: #FFF;
    }
    .close-menu, .menu-open{
        cursor: pointer;
    }
    #navbar_top{
        display: none !important;
    }
    .tiding-newspaper .tiding-info {
        margin-bottom: 10px !important;
    }
    .text-dark {
		font-size: 12px !important;
	}
    /* ######################  */
    .text-more p {
        margin-top: 12px !important;
        font-size: 13px !important;
    }
    .introduce p {
        font-size: 12px !important;
    }
    .introduce #text {
        font-size: 15px !important;
    }
    ::placeholder {
        font-size: 8px !important;
    }
    .status a img {
        width: 43px !important;
        height: 41px !important;
        padding-left: 3px !important;
    }
    .status a {
        font-size: 12px !important;
    }
    .tiding-info.col-4 {
        width: 26.6% !important;
    }
    .tiding-information h3 {
        font-size: 15px !important;
    }
    .tiding-information p {
        font-size: 11px !important;
        
    }
    .tiding-information a {
        font-size: 18px;
    }
    .footer-img img {
        width: 90px;
    }
    .contact-method img {
        width: 28px !important;
        padding-top: 11px !important;
        margin: 5px !important;
        margin-left: 23px !important;
    }
    .text-dark {
        font-size: 8px !important;
    }

}
@media  (max-width:420px) {
    .shop-container .col-4 {
        flex: 0 0 auto;
        width: 100% !important;
    }
    .products .product-info.col-3 {
        width: 100% !important;
    }

    .content .col-3 {
        width: 100% !important;
        padding-bottom: 10px;
    }

    .content-menu {
        padding: 0 10px !important;
        border-bottom: 2px solid #ccc;
    }

    .port {
        right: 155px !important;
    }

    .content-btn {

        font-size: 12px;

    }

    .product-company h1 {
        font-size: 20px;
    }

    .product-company b {
        font-size: 18px;
    }

    .product-introduce p {
        margin: 12px 0 35px 0 !important;
        font-size: 16px;

    }

    .product-introduce a {
        font-size: 20px;
        padding: 7px 2px 7px 2px !important;
    }

    .menu-top {
        display: none;
    }

    .banner {
        position: relative;
    }

    .menu-open {
        position: absolute;
        display: block;
        right: 5px;
        top: 0;
        z-index: 11;
    }

    .banner-menu {
        display: block;
        position: absolute;
        left: -100%;
        top: 0;
        width: 80%;
        height: 100vh;
        background: rgb(205, 235, 255);
        z-index: 111;
        transition: .6s all;
    }
    .active-menu{
        z-index: 111;
        /*text-overflow: ellipsis;*/
    }
    .active-menu .banner-menu{
        left: 0 !important;
        transition: .5s all;

    }

    .banner-menu .banner-house {
        display: block !important;
    }

    .banner-house-icon {
        padding: 0;
    }

    .banner-menu .banner-house ul {
        display: block !important;
    }

    .banner-house-text ul li a {
        color: #000;
        font-size: 16px !important;
    }

    .banner-house-icon {
        border: 0 !important;
        padding: 10px 0 0;
        text-align: left;
    }

    .banner-icons {
        display: none !important;
    }

    .banner-house-text ul li {
        padding: 10px 2px !important;
    }
    .close-menu{
        position: absolute;
        right: 0;
        top: 0;
        background: red;
        padding: 0 10px;
    }
    .close-menu h1{
        color: #FFF;
    }
    .close-menu, .menu-open{
        cursor: pointer;
    }
    #navbar_top{
        display: none !important;
    }
    .tiding-newspaper .tiding-info {
        margin-bottom: 10px !important;
    }
    .text-dark {
		font-size: 12px !important;
	}
    .contact-method img {
        width: 28px !important;
        padding-top: 11px !important;
        margin: 5px !important;
        margin-left: 23px !important;
    }
}
