.information-small a {
	font-size: 15px;
}
.new-right .g-4 {
	--bs-gutter-x: 0.5rem;
}
.name-company {
	text-align: center;
	margin: 15px 0 25px 0;
}
.contact-phone {
	font-size: 25px;
	padding: 20px 0 0 30px ;
	font-weight: 700;
}
.contact-form .form-right {
	padding-top: 30px;
}
@media (max-width:768px) {
	.contact-phone {
		
		padding: 4px  ;
		
	}
	.ul-info li:last-child {
		font-size: 12px;
	}
	.contact-method img {
		width: 26px;
		margin: 4px;
	}
	::placeholder {
		font-size:12px ;
	}
	.contact-form .form-right {
		padding-left: 0;
		
	}
	.ul-info li a:last-child {
		word-wrap: break-word;
	}
	.name-company {
		font-size: 16px;
	}
	.ul-info {
		font-size: 12px;
	}
	.name {
		font-size: 14px;
	}
	.contact-phone {
		font-size: 15px;
	}
}
@media  (max-width:420px) {
	.contact-company-inf  .address-form{
		flex-direction: column !important;
	}
	.news-content {
		flex-direction: column !important;
	}
	.product-news .news-content .col-6 {
		
		width: 100% !important;
	}
}