<nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <div class="local-inf">
            <i class="fa-solid fa-location-dot text-white pe-3"></i>
            <span>25 đường số 13 khu dân cư ấp 5 phong phú, Huyện Bình Chánh</span>
        </div>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"> Đăng Nhập </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#"> Đăng ký </a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="menu-top">
    <div class="container">
        <div class="row">
            <div class="menu-left col-md-2 col-2">
                <a href="/"><img src="../static/images/logo.png" alt="" /></a>
                
            </div>
            <div class="menu-right col-md-10 col-10 d-flex justify-content-between">
                <div class="menu-info d-flex">
                    <i class="fa-solid fa-headphones-simple"></i>
                    <p class="text-dark">Gọi ngay <br /><a href="">1-888-345-6789</a></p>
                    <div class="bd-right"></div>
                </div>
                <div class="menu-info d-flex">
                    <i class="fa-solid fa-clock"></i>
                    <p class="text-dark">
                        Giờ làm việc<br /><a href="">Mon - Sat: 7.00 - 18:00</a>
                    </p>
                    <div class="bd-right"></div>
                </div>
                <div class="menu-btn col-md-4 col-4" >
                    <a href="">Liên hệ ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner">
    <div class="menu-open">
        <img src="{{url_for('static', filename='images/icons/menu-list.png')}}" alt="">
    </div>
    <div class="banner-menu">
        <div class="close-menu">
            <img src="{{url_for('static', filename='images/icons/close.png')}}" alt="">          
        </div>
        <div class="container">
            <div class="row d-flex justify-content-between menu-mid">
                <div class="col-7">
                    <div class="banner-house d-flex">
                        <div class="banner-house-icon">
                            <a href="/"><i class="fa-solid fa-house"></i></a>
                        </div>
                        <div class="banner-house-text">
                            <ul class="d-flex">
                                <li><a href="/introduce">Giới thiệu</a></li>
                                <li><a href="">Dịch vụ</a></li>
                                <li><a href="/product">Cửa hàng</a></li>
                                <li><a href="new">Tin tức</a></li>
                                <li><a href="/contact">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="banner-icons col-5 d-flex">
                    <div class="banner-icon col-3">
                        <i class="fa-brands fa-facebook-square"></i>
                        <i class="fa-brands fa-twitter-square"></i>
                        <i class="fa-brands fa-youtube-square"></i>
                    </div>
                    <div class="banner-icon-end col-2 d-flex">
                        <div class="banner-shop">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                        <div class="banner-search">
                            <i class="fas fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-content">
        <h2>Nhựa Gia Nguyễn</h2>
        <h3>Sản xuất và Cung cấp các loại chai Pet</h3>
        <p>
            Công ty đã đầu tư trang thiết bị hiện đại bao gồm nhiều máy sấy, máy ép và máy thổi thuộc thế hệ mới <br /> điều khiển bằng kỹ thuật số được nhập khẩu từ: Đức, Nhật, Đài Loan, Singapore,…
        </p>
        <div class="banner-content-btn">
            <a href="">Xem thêm</a>
            <a href="">Dịch vụ</a>
        </div>
    </div>
</div>