@media screen and (max-width:1366px) {
    .text-more p {
        font-size: 31px;
        margin-top: 31px !important;
    }

    .introduce #text {
        font-size: 33px;

    }

    .introduce p {
        font-size: 20px;
    }

    .tiding-information p {
        font-size: 21px t;

    }

    .tiding-information h3 {
        font-size: 25px t;

    }

    .tiding-information a {
        font-size: 25px;

    }
   
    .text-dark {
        font-size: 18px;
    }

    .footer-company,
    .footer-suppot {
        font-size: 20px;
    }

    ::placeholder {
        font-size: 18px;
    }
    /* store  */
    .drw-show {
       
       
        position: relative !important;
        display: flex !important;
       
        justify-content: center !important;
    }
    .form-right {
       
        padding-right: 50px;
    }
}
@media screen and (max-width:1170px) {
    .menu-btn a {
        padding: 13px 14px !important
    }
    .banner-house-text ul li a {
        
        font-size: 13px;
        
    }
    .products .product-info.col-3 {
        width: 32% !important;
    }
    .symbol-customer a img {
        width: 150px !important;
        height: 111px !important;
       
    }
    .text-more p {
        font-size: 28px !important;
       
    }
    .introduce #text {
        font-size: 30px !important;
    }
    .introduce p {
        font-size: 21px !important;
    }
    .text-dark {
        font-size: 16px !important;
    }
     /* store  */
     .drw-show {
       
       
        position: relative !important;
        display: flex !important;
       
        justify-content: center !important;
    }
    .form-right {
       
        padding-right: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .drw-menu {
        margin-top: 6px !important;
        width: 33% !important;
        opacity: 0.8;
    }
    .menu-btn a {
        padding: 13px 14px;
        font-size: 10px;
    }
    .product-info.col-3 {
        width: 32% !important;
    }
    .symbol-customer a img {
        width: 150px !important;
        
    }
    .text-dark {
        font-size: 14px !important;
    }
    .banner-house-text ul li a {
        
        font-size: 13px;
        
    }
    .text-more p {
        font-size: 28px !important;
        margin-top: 35px !important;
    }
    .introduce #text {
        font-size: 30px !important;
    }
    .introduce p {
        font-size: 18px !important ;
    }
    .status a img {
        width: 49px !important;
        height: 43px;
        padding-left: 10px ;
    }
    .status a { 
        font-size: 17px !important;  
    }
    .footer-company, .footer-suppot {
        font-size: 15px !important;
    }
    .product-title .news-content .col-6 {
        width: 100% !important;
    }
     /* store  */
     .drw-show {
       
       
        position: relative !important;
        display: flex !important;
       
        justify-content: center !important;
    }
    .form-right {
       
        padding-right: 50px;
    }
}