@media screen and (max-width: 1920px) {
    .banner-house-text ul li a {
       
        font-size: 25px ;
       
    }
    .banner-icon i {
        font-size: 25px !important;
    }
    .banner-shop i {
        font-size: 25px !important;
    }
    .banner-search i {
        font-size: 25px !important;
    }
    .introduce #text {
        font-size: 40px ;
    }
    .text-more p {
        font-size: 35px !important;
    }
    .symbol-customer a img {
        width: 210px !important;
    }
    .product-information p {
        font-size: 17px;
    }
    .product-introduce p {
        font-size: 17px;
    }
    .tiding-information p {
        font-size: 15px;
    }

    .form-left .status a {
        display: flex;
        flex-direction: column;
        font-size: 30px;
        
    }
    .status a img {
        width: 97px !important;
        height: 63px !important;
        padding-left: 17px !important;
    }
    .banner-content h2 {
        font-size: 40px;
        color: #3498db;
        font-weight: 500;
    }
    .banner-content h3 {
        color: #fff;
        font-size: 35px;
        font-weight: 400;
    }
    .banner-content p {
        color: #ffffff;
        font-size: 24px;
        font-weight: 300;
    }
    .banner-content-btn {
        margin-top: 50px;
    }

}
@media screen and (max-width:1366px) {
    .banner-house-text ul li a {
        font-size: 23px ;
    }
   
    .form-left .status a {
        display: flex;
        flex-direction: column;
        font-size: 22px;
    }
    .text-more p {
        font-size: 31px;
        margin-top: 31px !important;
    }

    .introduce #text {
        font-size: 33px;

    }

    .introduce p {
        font-size: 20px;
    }

    .tiding-information p {
        font-size: 21px t;

    }

    .tiding-information h3 {
        font-size: 25px t;

    }

    .tiding-information a {
        font-size: 25px;

    }
   
    .text-dark {
        font-size: 18px;
    }

    .footer-company,
    .footer-suppot {
        font-size: 20px;
    }

    ::placeholder {
        font-size: 18px;
    }
    /* store  */
    .drw-show {
       
       
        position: relative !important;
        display: flex !important;
       
        justify-content: center !important;
    }
    .form-right {
       
        padding-right: 50px;
    }
    .status a img {
        width: 70px !important;
        height: 50px !important;
        /* padding-left: 15px !important; */
        position: relative;
        left: 2px;
    }
    .symbol-customer a img {
        width: 180px !important;
    }
    .footer-img #logo-footer {
        width: 180px !important;
        height: 100px !important;
    }
}
@media screen and (max-width:1170px) {
    .form-left .status a {
        display: flex;
        flex-direction: column;
    }
    .menu-btn a {
        padding: 13px 14px !important
    }
    .banner-house-text ul li a {
        
        font-size: 15px !important;
        
    }
    .products .product-info.col-3 {
        width: 32% !important;
    }
    .symbol-customer a img {
        width: 150px !important;
        height: 111px !important;
       
    }
    .text-more p {
        font-size: 28px !important;
       
    }
    .introduce #text {
        font-size: 30px !important;
    }
    .introduce p {
        font-size: 17px !important;
    }
    .text-dark {
        font-size: 16px !important;
    }
    .form-left .status a {
      
        font-size: 22px;
        
    }
    .status a img {
        width: 50px !important;
        height: 40px !important;
        position: relative;
        left: 14px ;
    }
     /* store  */
     .drw-show {
       
       
        position: relative !important;
        display: flex !important;
       
        justify-content: center !important;
    }
    .form-right {
       
        padding-right: 50px;
    }
    .text-dark {
        font-size: 17px !important;
    }
    .banner {
        height: 60vh ;
        background-position: inherit;
    }
    .banner-content p {
        font-size: 22px;
    }
    .footer-img {
        padding-top: 5px;
    }
}

@media screen and (max-width: 1024px) {
    .banner-content h2 {
        font-size: 30px;
    }
    .banner-content h3 {
        font-size: 28px;
    }
    .banner-content p {
        font-size: 18px;
    }
    .banner-content-btn a:nth-child(1) {             
        padding: 12px 30px;
        
    }
    .form-left .status a {
        display: flex;
        flex-direction: column;
    }
    .drw-menu {
        margin-top: 6px !important;
        width: 33% !important;
        opacity: 0.8;
    }
    .menu-btn a {
        padding: 13px 14px;
        font-size: 10px;
    }
    .product-info.col-3 {
        width: 32% !important;
    }
    .symbol-customer a img {
        width: 150px !important;
        
    }
    .text-dark {
        font-size: 14px !important;
    }
    .banner-house-text ul li a {
        
        font-size: 16px !important;
        
    }
    .text-more p {
        font-size: 28px !important;
        margin-top: 35px !important;
    }
    .introduce #text {
        font-size: 30px !important;
    }
    .introduce p {
        font-size: 18px !important ;
    }
    .status a img {
        width: 55px !important;
        height: 40px !important;
        padding-left: 10px ;
        left: 2px ;
    }
    .status a { 
        font-size: 20px !important;  
    }
    .footer-company, .footer-suppot {
        font-size: 15px !important;
    }
    .product-title .news-content .col-6 {
        width: 100% !important;
    }
     /* store  */
     .drw-show {
       
       
        position: relative !important;
        display: flex !important;
       
        justify-content: center !important;
    }
    .form-right {
       
        padding-right: 50px;
    }
    ::placeholder {
        font-size: 14px ;
    }
    .inf-support p {
        font-size: 14px;
    }
}